<div class="wrapper">
  <div class="container">
    <div class="row">

      <% @leads.each do |lead| %>

      <div class="col-xs-12 col-md-6" <%= "id = div-#{lead.id}" %> >
        <div class="card-white">
          <div class="card-white-category">
            <ul class="list-inline">
              <li>
                <a href=<%="https://www.linkedin.com/search/results/index/?keywords=#{lead.person.first_name}%20#{lead.person.last_name}" %> target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
              <% if lead.person.email %>
              <li>
                <a href=<%="mailto:#{lead.person.email}"%>><i class="fa fa-envelope" aria-hidden="true"></i></a>
              </div>
            </li>
            <% end %>
          </ul>
          <div class="card-white-description">
            <h2><%= "#{lead.person.first_name} #{lead.person.last_name}" %></h2>
            <p><%= lead.person.employment_role %> @ <%= link_to lead.person.company.name, company_path(lead.person.company) %></p>
          </div>
          <%= link_to '✗ Delete', lead_path(lead), class: "btn btn-danger btn-sm card-white-cta-buton", method: :delete, remote: :true, id: "close-button-#{lead.id}"

          %>
          <%= image_tag lead.person.linkedin_pic_url, class: "card-white-logo" %>
          <!-- <a class="card-white-link" href="#" ></a> -->
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-6 text-left">
        <%= link_to '« Back to Search', companies_path %>
      </div>
    </div>
  </div>
</div>





<div class="board">
  <div class="board-column todo">
    <div class="board-column-header">To do</div>
    <div class="board-column-content">
      <% @leads.where(status: 'pending').each do |lead| %>
      <div class="board-item">
        <div class="board-item-content">
          <h2><%= "#{lead.person.first_name} #{lead.person.last_name}" %></h2>

          <a href=<%="https://www.linkedin.com/search/results/index/?keywords=#{lead.person.first_name}%20#{lead.person.last_name}" %> target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="board-column working">
    <div class="board-column-header">Working</div>
    <div class="board-column-content">
      <% @leads.where(status: 'contacted').each do |lead| %>
      <div class="board-item">
        <div class="board-item-content">
          <h2><%= "#{lead.person.first_name} #{lead.person.last_name}" %></h2>

          <a href=<%="https://www.linkedin.com/search/results/index/?keywords=#{lead.person.first_name}%20#{lead.person.last_name}" %> target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
      <% end %>

    </div>
  </div>
  <div class="board-column done">
    <div class="board-column-header">Done</div>
    <div class="board-column-content">
      <% @leads.where(status: 'accepted').each do |lead| %>
      <div class="board-item">
        <div class="board-item-content">
          <h2><%= "#{lead.person.first_name} #{lead.person.last_name}" %></h2>

          <a href=<%="https://www.linkedin.com/search/results/index/?keywords=#{lead.person.first_name}%20#{lead.person.last_name}" %> target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
      <% end %>

    </div>
  </div>

  <div class="board-column declined">
    <div class="board-column-header">Done</div>
    <div class="board-column-content">
      <% @leads.where(status: 'declined').each do |lead| %>
      <div class="board-item">
        <div class="board-item-content">
          <h2><%= "#{lead.person.first_name} #{lead.person.last_name}" %></h2>

          <a href=<%="https://www.linkedin.com/search/results/index/?keywords=#{lead.person.first_name}%20#{lead.person.last_name}" %> target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
      <% end %>

    </div>
  </div>


</div>


















<%= content_for :after_js do %>
<script>

  document.addEventListener('DOMContentLoaded', function () {

    var docElem = document.documentElement;
    var board = document.querySelector('.board');
    var itemContainers = Array.prototype.slice.call(document.querySelectorAll('.board-column-content'));
    var columnGrids = [];
    var dragCounter = 0;
    var boardGrid;

    itemContainers.forEach(function (container) {

      var muuri = new Muuri(container, {
        items: '.board-item',
        layoutDuration: 400,
        layoutEasing: 'ease',
        dragEnabled: true,
        dragSort: function () {
          return columnGrids;
        },
        dragSortInterval: 0,
        dragContainer: document.body,
        dragReleaseDuration: 400,
        dragReleaseEasing: 'ease'
      })
      .on('dragStart', function (item) {
        ++dragCounter;
        docElem.classList.add('dragging');
        item.getElement().style.width = item.getWidth() + 'px';
        item.getElement().style.height = item.getHeight() + 'px';
      })
      .on('dragEnd', function (item) {
        if (--dragCounter < 1) {
          docElem.classList.remove('dragging');
        }
      })
      .on('dragReleaseEnd', function (item) {
        item.getElement().style.width = '';
        item.getElement().style.height = '';
        columnGrids.forEach(function (muuri) {
          muuri.refreshItems();
        });
      })
      .on('layoutStart', function () {
        boardGrid.refreshItems().layout();
      });

      columnGrids.push(muuri);

    });

    boardGrid = new Muuri(board, {
      layoutDuration: 400,
      layoutEasing: 'ease',
      dragEnabled: false,
      dragSortInterval: 0,
      dragStartPredicate: {
        handle: '.board-column-header'
      },
      dragReleaseDuration: 400,
      dragReleaseEasing: 'ease'
    });

  });

// var gridB = new Muuri('.board-column-working', {
//     items: '.board-item',
//     dragEnabled: true
//   });

// var gridC = new Muuri('.board-column-done', {
//     items: '.board-item',
//     dragEnabled: true
//   });


</script>


<% end %>










