<div class="wrapper">
  <div class="container">

    <div class="row">
    </div>
  </div>
</div>


<div class="board">
  <div class="board-column todo">
    <div class="board-column-header">Prospects</div>
    <div class="board-column-content" data-lead-status="pending">
      <% @leads.where(status: 'pending').each do |lead| %>
      <%= render "lead_card", lead: lead %>
      <% end %>
    </div>
  </div>
  <div class="board-column working">
    <div class="board-column-header">Contacted</div>
    <div class="board-column-content" data-lead-status="contacted">
      <% @leads.where(status: 'contacted').each do |lead| %>
      <%= render "lead_card", lead: lead %>
      <% end %>

    </div>
  </div>
  <div class="board-column done">
    <div class="board-column-header">Negotiations</div>
    <div class="board-column-content" data-lead-status="accepted">
      <% @leads.where(status: 'accepted').each do |lead| %>
        <%= render "lead_card", lead: lead %>
      <% end %>
    </div>
  </div>

  <div class="board-column declined">
    <div class="board-column-header">Declined</div>
    <div class="board-column-content" data-lead-status="declined">
      <% @leads.where(status: 'declined').each do |lead| %>
        <%= render "lead_card", lead: lead %>
      <% end %>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="container">

    <div class="row">
      <div class="col-xs-6 text-left">
        <%= link_to companies_path, class: "btn btn-primary btn-return" do %><span class="fa fa-arrow-left fa-1x"></span><% end %>
      </div>
    </div>
  </div>
</div>
