<div class="searchbanner">

  <!-- Magnifying glass icon -->
  <%# simple_form_for(:search, url: companies_path, method: :get, html: { class: 'form-inline' }) do |f| %>
  <%# f.input :tool, label: false, placeholder: 'Technologies' %>
  <%# f.submit 'Search', class: 'btn btn-primary' %>

  <%# end %>

  <div class="searchcard">
    <div class="searchbar">
      <%= form_tag(companies_path, method: :get) do %>

      <%= text_field_tag :tool, "", class: "searchfield", id: "search-input" , placeholder: "Search by technology..." %>

      <%= submit_tag 'Search', class: "btn btn-primary searchbtn hidden" %>

      <% end %>
    </div>
  </div>

  <i class="fa fa-search magnifying-glass" aria-hidden="true"></i>
</div>

<div class="companies-list">

<div class="wrapper">
  <div class="container margin-top results">
    <div class="row">
      <% @companies.each do |displaycard| %>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= link_to company_path(displaycard) do %>
        <div class="card-white effect">
          <div class="card-white-description">
            <h2><%= displaycard.name %></h2>
            <p><%= displaycard.short_description %></p>
          </div>
          <%= image_tag displaycard.logo_url, class: "card-white-logo" %>

          <%= link_to'', company_path(displaycard), class: "card-white-link" %>


          <% end %>
          <div class="clearer"></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>





</div>

<script>
  document.addEventListener("keyup", (event) => {

    var searchText = document.getElementById("search-input").value;
    console.log(searchText)

    // aloglia search
    var client = algoliasearch('<%= ENV['ALGOLIA_ID'] %>', '<%= ENV['ALGOLIA_SEARCH'] %>');

    var index = client.initIndex('Company');
    index.search(searchText, { hitsPerPage: 10, page: 0 })
      .then(function searchDone(content) {
        // console.log(options)
        console.log(content.hits)

        var htmlData = ""

        content.hits.forEach( function(element) {
          console.log(element);

          e = `<h1>${element.name}</h1><br><p>${element.short_description}</p><br> <img src="${element.logo_url}" alt="" />`;
          htmlData += e;
          console.log(element.objectID)
        })

        $('.companies-list').html(htmlData);

      })

      .catch(function searchFailure(err) {
      console.error(err);
      });
  });





</script>





















