<div class="searchbar">
  <!-- Magnifying glass icon -->
  <%# simple_form_for(:search, url: companies_path, method: :get, html: { class: 'form-inline' }) do |f| %>
  <i class="fa fa-search magnifying-glass" aria-hidden="true"></i>
  <%# f.input :tool, label: false, placeholder: 'Technologies' %>
  <%# f.submit 'Search', class: 'btn btn-primary' %>

  <%# end %>
  <%= form_tag(companies_path, method: :get) do %>
  <%= text_field_tag :tool %>
  <%= submit_tag 'Search' %>
  <% end %>
</div>

<div class="wrapper">
  <div class="card-container">
    <div class="row">
      <% @companies.each do |displaycard| %>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to company_path(displaycard) do %>
        <div class="card-white">
          <div class="card-white-info">
            <p class="card-white-title"><%= displaycard.name  %></p>
            <div class="card-white-description">
             <p><%= displaycard.short_description %></p>
           </div>
           <%= image_tag displaycard.logo_url, class: "card-white-logo" %>
         </div>
            <%= link_to'', root_path, class: "card-white-link" %>


         <% end %>
       </div>
     </div>
     <% end %>
   </div>
 </div>
</div>




















