<div class="searchcard">
  <div class="searchbar">
    <!-- Magnifying glass icon -->
    <%# simple_form_for(:search, url: companies_path, method: :get, html: { class: 'form-inline' }) do |f| %>
    <%# f.input :tool, label: false, placeholder: 'Technologies' %>
    <%# f.submit 'Search', class: 'btn btn-primary' %>

    <%# end %>
    <%= form_tag(companies_path, method: :get) do %>
    <i class="fa fa-search magnifying-glass" aria-hidden="true"></i>
    <%= text_field_tag :tool, "", class: "searchfield" %>
    <%= submit_tag 'Search', class: "btn btn-primary searchbtn" %>

    <% end %>
  </div>
</div>

<div class="wrapper">
  <div class="container margin-top">
    <div class="row">
      <% @companies.each do |displaycard| %>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= link_to company_path(displaycard) do %>
        <div class="card-white">
          <div class="card-white-description">
            <h2><%= displaycard.name %></h2>
            <p><%= displaycard.short_description %></p>
          </div>
          <%= image_tag displaycard.logo_url, class: "card-white-logo" %>

          <%= link_to'', company_path(displaycard), class: "card-white-link" %>


          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>




















