<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="card-white">
          <div class="card-white-category"><%= @company.city %>, <%=@company.country  %></div>
          <div class="card-white-description">
            <h2><%= @company.name %></h2>
            <p>
              <%= link_to @company.homepage_url do %>
              <i class="fa fa-external-link" aria-hidden="true"></i>
              <%= @company.homepage_domain %>
              <% end %>
            </p>
            <p><%= @company.short_description %></p>
          </div>
          <%= image_tag @company.logo_url, class: "card-white-logo" %>
          <!-- <a class="card-white-link" href="#" ></a> -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="card-white-secondary">
          <div class="card-white-category">Stack</div>
          <div class="card-white-description">
           <ul class="list-inline">
            <% @company.tools.each do |tool| %>
            <li>
              <%= link_to tool.name, companies_path(:tool => tool.name) %>

            </li>
            <% end %>
          </ul>
        </div>
        <!-- <a class="card-white-link" href="#" ></a> -->
      </div>
    </div>
  </div>

  <div class="row">

    <% @company.users.each do |user| %>

    <div class="col-xs-12 col-md-5 col-md-push-1  ">
      <div class="card-white">
        <div class="card-white-lead-category">
          <ul class="list-inline">
            <li>
              <a href=<%="https://www.linkedin.com/search/results/index/?keywords=#{user.first_name}%20#{user.last_name}%20#{@company.name}" %> target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <% if user.email %>
            <li>
              <a href=<%="mailto:#{user.email}"%>><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
          </li>
          <% end %>
        </ul>
        <div class="card-white-description">
          <h2><%= "#{user.first_name} #{user.last_name}"%></h2>
          <p><%= "#{user.employment_role}" %></p>
        </div>
          <% if Lead.where(user_id: current_user, person:user).first %>
          <%= link_to user_leads_path(user), method: :post, remote: true, class: "btn btn-success disabled btn-sm  card-white-cta-buton", id: "lead-button-disabled-#{user.id}" do %><span class="fa fa-check fa-1x"></span><% end %>
          <% else %>
          <%= link_to 'Add', user_leads_path(user), method: :post, remote: true, class: "btn btn-warning btn-sm card-white-cta-buton", id: "lead-button-#{user.id}" %>
          <% end %>
        <%= image_tag user.linkedin_pic_url, class: "card-white-lead-logo" %>
        <!-- <a class="card-white-link" href="#" ></a> -->
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-6 text-left">
      <%= link_to '« Back to Search', companies_path %>
    </div>
    <div class="col-xs-6 text-right">
      <%= link_to 'Go to Leads »', leads_path %>
    </div>
  </div>
</div>
</div>
