<div class="wrapper">


  <%# link_to companies_path, class: "btn btn-return btn-return-left" do %>
<!--     <span class="fa fa-arrow-left fa-1x">
    </span>
    <span>back to search</span> -->
  <%# end %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="card-white-main">
          <div class="logo-wrapper" style="background-image: url('<%= image_path @company.logo_url %>');">
          </div>
          <div class="company-details">
            <h2><%= @company.name %></h2>
            <div class="company-location-and-url">
              <p class="card-white-category">
                <%= @company.city %>, <%=@company.country  %>
              </p>
              <p>
                <%= link_to @company.homepage_url, target:'_blank' do %>
                <i class="fa fa-external-link" aria-hidden="true"></i>
                  <%= @company.homepage_domain %>
                <% end %>
              </p>
            </div>
            <p><%= @company.short_description %></p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="card-white-stack">
          <div class="card-white-stack-category">Stack</div>
          <div class="card-white-stack-description">

           <ul class="list-inline">
            <% @company.tools.distinct.order("name asc").each do |tool| %>
            <li>
              <%=link_to companies_path(:tool => tool.name) do %>
              <%= image_tag(tool.image_url, :class => "avatar-medium", :alt => tool.name) %>
              <% end %>

              <!-- <img src="<%= tool.image_url %>" height="60px", style="border-radius: 50%", alt="<%=tool.name %>"> -->
              <%#= link_to tool.name, companies_path(:tool => tool.name) %>
            </li>
            <% end %>
          </ul>
        </div>
        <!-- <a class="card-white-stack-link" href="#" ></a> -->
      </div>
    </div>
  </div>


  <div class="row">

    <% @company.users.each do |user| %>


    <div class="col-xs-12 col-md-5 col-md-push-1  ">
      <div class="card-white">
        <div class="card-part-left">
          <div class="image-lead-container" style="background-image: url('<%= image_path user.linkedin_pic_url %>');">
            <%# image_tag user.linkedin_pic_url %>
          </div>

        </div>
        <div class="card-part-right">
          <div class="card-white-description-leads">
            <h2><%= "#{user.first_name} #{user.last_name}"%></h2>
            <p class="badge badge-primary employee-role-badge"><%= "#{user.employment_role}" %></p>
          </div>
          <div class="card-white-description-list">
            <ul class="list-inline leads-elements-list">
              <li>
                <a href=<%="https://www.linkedin.com/search/results/index/?keywords=#{user.first_name}%20#{user.last_name}%20#{@company.name}" %> target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
              <% if user.email %>
              <li>
                <a href=<%="mailto:#{user.email}"%>><i class="fa fa-envelope" aria-hidden="true"></i></a>
              </li>
            </ul>
            <% end %>
            <div class="leads-addable">

              <% if Lead.where(user_id: current_user, person:user).first %>
              <%= link_to user_leads_path(user), method: :post, remote: true, class: "btn btn-success disabled btn-sm  card-white-cta-buton", id: "lead-button-disabled-#{user.id}" do %><span class="fa fa-check fa-1x"></span><% end %>
              <% else %>
              <%= link_to 'Add', user_leads_path(user), method: :post, remote: true, class: "btn btn-warning btn-sm card-white-cta-buton", id: "lead-button-#{user.id}" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>




    </div>
    <% end %>
  </div>




















